/* ---tag css---*/

html{
    height: 100%;
    width:100%;
    font-size: 20pt;
}
body{
    height: 100%;
    width: 100%;
    display: block;
    color:#0ac28e;
    background-color: #095cb8;
    font-family: 'VT323', monospace;
}

table{
    border-collapse: collapse;
    text-align: center;
}
tr, th, td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding:2.5px;
}
tbody tr:hover{
    background-color: #0a91c2;
}
thead, tr:nth-child(even){
    background-color: #0ac28e;
}
a:link, a:visited{
    text-decoration:inherit;
    color: inherit;
    cursor: pointer;
}

form, fieldset{
    width:fit-content;
}

button{
    background-color: #0a91c2;
    border:1px dashed;
    border-radius:15px;
}
button:hover{
    background-color:#09b855;
    color:white;
}
input[type=submit]{
    background-color: #0ac28e;
    border:1px dashed;;
    border-radius:15px;
}
input[type=submit]:hover{
    background-color: #09b855;
    color:white;
}

/*---header css---*/

#header{
    width: 100%;
    height: 100px;
}
#tags{
    height:100%;
    display: grid;
    grid-template-rows: [row1] 50% [row2] 50%;
    grid-template-columns: [col1] 20% [col2] 20% [col3] 20% [col4] 20% [col5] 20%;
}
.buttons{
    width: 100%;
    grid-column: auto;
    text-align:center;
}
.sales{
    grid-column-start:2;
}
.buttons:not(.s_games):hover{
    background-color:#0a91c2;
    color:black;
}
form.buttons{
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end:5;
}
#search{
    width:50%;
}

#logreg{
    text-align:center;
    width:100%;
    display: grid;
    grid-template-columns: [col1] 50% [col2] 50%;
}

#Login{
    text-align: center;
}
#Login:hover, #register:hover, #cart:hover{
    background-color:#0a91c2;
    color:black;
}
#cart{
    grid-row:2;
    grid-column:5;
    text-align:center;
}
.s_games{
    grid-row:2;
}

/*--- footer css---*/

#footext{
    width: 100%;
    text-align: center;
}
#footercont{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [col1] 20% [col2] 20% [col3] 20% [col4] 20% [col5] 20%;
}
#footercont .buttons{
    grid-column:auto;
    grid-row:auto;
    width:100%;
}

#footer{
    height: auto;
    width: 100%;
}


/*---content css---*/

#contents{
    min-height: 75%;
    max-height: auto;
    background-color: #00aaaa;
    color:black;
    display:flex;
}
#center{
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#contents input[type=submit]{
    background-color: #0ac28e;
    border:1px dashed;;
    border-radius:15px;
}
#contents input[type=submit]:hover{
    background-color: #09b855;
    color:white;
}


/*---games grid layout---*/

.gametable{
    margin-left:auto;
    margin-right:auto;
    display: grid;
    font-size:19pt;
    text-align:center;
    width:75%;
    grid-template-columns:33% 33% 33%;
    height:auto;
    grid-gap:25px;
}
.gameintable{
    grid-column: auto;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    vertical-align:middle;
    grid-template-rows:[row1] 60% [row2] 40%;
    grid-template-columns:[col1] 60% [col2] 40%;
}
.gameintable:hover{
    background-color:#0ac28e;
}
.gameimgTable{
    grid-row: 1 / span 2;
    grid-column: 1;
    height:inherit;
    width:inherit;
    border-radius:15px 0px 0px 15px;
}

.gameNametable{
    grid-row: 1;
    grid-column:2;
}
.gameintable a{
    height:100%;
    width: 100%;
}
.priceTable{
    grid-row:2;
    grid-column:2;
    display: grid;
    grid-template-rows: [row1] auto [row2] auto;
}

.text{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    vertical-align:middle;
    height:100%;
    width:100%;
}
.addbutton, #hotform{
    margin-left: auto;
    margin-right: auto;
}



/*---aboot.php---*/

#gamepage{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

/*---account.php---*/

/*---cart.php---*/
#cartcont{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
/*---category.php---*/

/*---games.php---*/

/*---hot.php---*/

/*---login.php---*/

#loginForm{
    border: 1px solid black;
    box-sizing: border-box;
    margin: auto;
    width:fit-content;
    padding: 30px 60px;
}

#loginForm a{
    color: #120eb7;
}

#login:hover{
    background-color:#095cb8;
    color:#fbf9f7;
}

/*---register.php---*/

#regForm{
    border: 1px solid black;
    box-sizing: border-box;
    margin: auto;
    width:fit-content;
    padding: 30px 60px;
}
#regForm a{
    color: #120eb7;
}

/*---sales-php---*/

/*---suppost.php---*/

#supptext{
    width:fit-content;
    display:grid;
    margin:auto;
    grid-template-columns:[col1] 2fr [col2] 2fr;
}
#suppfunc{
    width:min-content;
    margin-right:auto;
}
#text_box{

}
#mess_box{

}
#play{

}
#submit_button{

}
#sent_text{

}
#pic_border
{
    height:fit-content;
    width:fit-content;
    border: 1px solid black;
    display: inline-block;
    margin:auto;

}
#support_pic
{
    grid-row:1;
    height: 400px;
    width: 500px;
}
/*---users.php---*/

/*---find home for these---*/
#message_box
{
    display: inline-block;
}
