html{
    height: 100%;
    width:100%;
    color: black;
    font-family: monospace;
    font-size: 16pt;
}
body{
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba( 94,134,185,1);
}
#header{
    background-color: ;
    width: 100%;
    height: fit-content;
    color: black;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: [row1] 100%;
}
#contents{
    min-height: 90%;
    max-height: auto;
    background-color: rgba( 85,184,159,1);
}
#footer{
    height: 10%;
    width: 100%;
}
