html{
    height: 100%;
    width:100%;
    color: black;
    font-family: monospace;
    font-size: 16pt;
}
body{
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba( 94,134,185,1);
}
#header{
    background-color: ;
    width: 100%;
    height: auto;
    color: black;
    display: inline-block;
}
#tags{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: [row1] 100%;
}
.buttons{
    width: 12.5%;
    height: 57px;
    grid-column: auto;
    border:1px solid black;
}
#Login{
    border:1px solid black;
}
#cart{
    border:1px solid black;
}
#contents{
    min-height: 90%;
    max-height: auto;
    background-color: rgba( 85,184,159,1);
}
#footer{
    height: 10%;
    width: 100%;
}
